{% extends 'base.html' %}

{% block title %} Django Users App {% endblock title %}

{% block content %}
  <div class="container">

    <div class="columns">
      <div class="column"></div>

      <div class="column is-four-fifths">
        <section class="section">

          <article class="message is-success">
            <div class="message-header">
              <p>Usuario Autenticado</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              {{ user }}, Todo salió bien!
            </div>
          </article>

        </section>
      </div>
      <div class="column"></div>
    </div>

  </div>

{% endblock content %}




