{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href={% static 'css/bulma.min.css' %}>
    <link rel="stylesheet" href={% static 'css/styles.css' %}>
</head>
<body>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <b>Django Users</b>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <form>
                        <div class="field has-addons">
                            <div class="control">
                                <button type="submit" class="button is-link">Registrar Usuario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock content %}


    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>
</html>